@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&display=swap');

body{
    font-family:'Gemunu Libre', sans-serif;
    font-weight: 400;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: 700;
}

.menu{
    display: flex;
    align-items: center;
    font-size: 22px;
}

.menu li {
    padding: 10px;
}


.menu li a:hover{
    font-weight: bold;
    border-bottom: 2px solid rgb(33, 11, 99);
    text-shadow: 2px 2px rgb(33, 11, 99,0.3) ;
}

.menu li a.btn{
    color: #fff;
    text-transform: uppercase;
    background-color: rgb(33, 11, 99);
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px 20px;
}



